In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [3]:
# Convert categorical data to numeric and separate target feature for training data
# gather info about the data frames

In [4]:
train_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

In [5]:
test_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,67991,67991,40000.0,0.0819,814.70,MORTGAGE,140000.0,Not Verified,low_risk,n,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,N,N
1,25429,25429,6000.0,0.1524,208.70,RENT,55000.0,Not Verified,low_risk,n,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,N,N
2,38496,38496,3600.0,0.1695,128.27,RENT,42000.0,Not Verified,low_risk,n,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,N,N
3,19667,19667,20000.0,0.1524,478.33,RENT,100000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,N,N
4,37505,37505,3600.0,0.1240,120.27,RENT,50000.0,Not Verified,low_risk,n,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,N,N

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12180 entries, 0 to 12179
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  12180 non-null  int64
 1   index                       12180 non-null  int64
 2   loan_amnt                   12180 non-null  float64
 3   int_rate                    12180 non-null  float64
 4   installment                 12180 non-null  float64
 5   home_ownership              12180 non-null  object
 6   annual_inc                  12180 non-null  float64
 7   verification_status         12180 non-null  object
 8   loan_status                 12180 non-null  object
 9   pymnt_plan                  12180 non-null  object
 10  dti                         12180 non-null  float64
 11  delinq_2yrs                 12180 non-null  float64
 12  inq_last_6mths              12180 non-null  float64
 13  open_acc                    12180 non-null  float64
 14  pub_rec                     12180 non-null  float64
 15  revol_bal                   12180 non-null  float64
 16  total_acc                   12180 non-null  float64
 17  initial_list_status         12180 non-null  object
 18  out_prncp                   12180 non-null  float64
 19  out_prncp_inv               12180 non-null  float64
 20  total_pymnt                 12180 non-null  float64
 21  total_pymnt_inv             12180 non-null  float64
 22  total_rec_prncp             12180 non-null  float64
 23  total_rec_int               12180 non-null  float64
 24  total_rec_late_fee          12180 non-null  float64
 25  recoveries                  12180 non-null  float64
 26  collection_recovery_fee     12180 non-null  float64
 27  last_pymnt_amnt             12180 non-null  float64
 28  collections_12_mths_ex_med  12180 non-null  float64
 29  policy_code                 12180 non-null  float64
 30  application_type            12180 non-null  object
 31  acc_now_delinq              12180 non-null  float64
 32  tot_coll_amt                12180 non-null  float64
 33  tot_cur_bal                 12180 non-null  float64
 34  open_acc_6m                 12180 non-null  float64
 35  open_act_il                 12180 non-null  float64
 36  open_il_12m                 12180 non-null  float64
 37  open_il_24m                 12180 non-null  float64
 38  mths_since_rcnt_il          12180 non-null  float64
 39  total_bal_il                12180 non-null  float64
 40  il_util                     12180 non-null  float64
 41  open_rv_12m                 12180 non-null  float64
 42  open_rv_24m                 12180 non-null  float64
 43  max_bal_bc                  12180 non-null  float64
 44  all_util                    12180 non-null  float64
 45  total_rev_hi_lim            12180 non-null  float64
 46  inq_fi                      12180 non-null  float64
 47  total_cu_tl                 12180 non-null  float64
 48  inq_last_12m                12180 non-null  float64
 49  acc_open_past_24mths        12180 non-null  float64
 50  avg_cur_bal                 12180 non-null  float64
 51  bc_open_to_buy              12180 non-null  float64
 52  bc_util                     12180 non-null  float64
 53  chargeoff_within_12_mths    12180 non-null  float64
 54  delinq_amnt                 12180 non-null  float64
 55  mo_sin_old_il_acct          12180 non-null  float64
 56  mo_sin_old_rev_tl_op        12180 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       12180 non-null  float64
 58  mo_sin_rcnt_tl              12180 non-null  float64
 59  mort_acc                    12180 non-null  float64
 60  mths_since_recent_bc        12180 non-null  float64
 61  mths_since_recent_inq       12180 non-null  float64
 62  num_accts_ever_120_pd       12180 non-null  float64
 63  num_actv_bc_tl              12180 non-null  float64
 64  num_actv_rev_tl             12180 non-null  float64
 65  num_bc_sats                 12180 non-null  float64
 66  num_bc_tl                   12180 non-null  float64
 67  num_il_tl                   12180 non-null  float64
 68  num_op_rev_tl               12180 non-null  float64
 69  num_rev_accts               12180 non-null  float64
 70  num_rev_tl_bal_gt_0         12180 non-null  float64
 71  num_sats                    12180 non-null  float64
 72  num_tl_120dpd_2m            12180 non-null  float64
 73  num_tl_30dpd                12180 non-null  float64
 74  num_tl_90g_dpd_24m          12180 non-null  float64
 75  num_tl_op_past_12m          12180 non-null  float64
 76  pct_tl_nvr_dlq              12180 non-null  float64
 77  percent_bc_gt_75            12180 non-null  float64
 78  pub_rec_bankruptcies        12180 non-null  float64
 79  tax_liens                   12180 non-null  float64
 80  tot_hi_cred_lim             12180 non-null  float64
 81  total_bal_ex_mort           12180 non-null  float64
 82  total_bc_limit              12180 non-null  float64
 83  total_il_high_credit_limit  12180 non-null  float64
 84  hardship_flag               12180 non-null  object
 85  debt_settlement_flag        12180 non-null  object
dtypes: float64(76), int64(2), object(8)
memory usage: 8.0+ MB

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4702 entries, 0 to 4701
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  4702 non-null   int64
 1   index                       4702 non-null   int64
 2   loan_amnt                   4702 non-null   float64
 3   int_rate                    4702 non-null   float64
 4   installment                 4702 non-null   float64
 5   home_ownership              4702 non-null   object
 6   annual_inc                  4702 non-null   float64
 7   verification_status         4702 non-null   object
 8   loan_status                 4702 non-null   object
 9   pymnt_plan                  4702 non-null   object
 10  dti                         4702 non-null   float64
 11  delinq_2yrs                 4702 non-null   float64
 12  inq_last_6mths              4702 non-null   float64
 13  open_acc                    4702 non-null   float64
 14  pub_rec                     4702 non-null   float64
 15  revol_bal                   4702 non-null   float64
 16  total_acc                   4702 non-null   float64
 17  initial_list_status         4702 non-null   object
 18  out_prncp                   4702 non-null   float64
 19  out_prncp_inv               4702 non-null   float64
 20  total_pymnt                 4702 non-null   float64
 21  total_pymnt_inv             4702 non-null   float64
 22  total_rec_prncp             4702 non-null   float64
 23  total_rec_int               4702 non-null   float64
 24  total_rec_late_fee          4702 non-null   float64
 25  recoveries                  4702 non-null   float64
 26  collection_recovery_fee     4702 non-null   float64
 27  last_pymnt_amnt             4702 non-null   float64
 28  collections_12_mths_ex_med  4702 non-null   float64
 29  policy_code                 4702 non-null   float64
 30  application_type            4702 non-null   object
 31  acc_now_delinq              4702 non-null   float64
 32  tot_coll_amt                4702 non-null   float64
 33  tot_cur_bal                 4702 non-null   float64
 34  open_acc_6m                 4702 non-null   float64
 35  open_act_il                 4702 non-null   float64
 36  open_il_12m                 4702 non-null   float64
 37  open_il_24m                 4702 non-null   float64
 38  mths_since_rcnt_il          4702 non-null   float64
 39  total_bal_il                4702 non-null   float64
 40  il_util                     4702 non-null   float64
 41  open_rv_12m                 4702 non-null   float64
 42  open_rv_24m                 4702 non-null   float64
 43  max_bal_bc                  4702 non-null   float64
 44  all_util                    4702 non-null   float64
 45  total_rev_hi_lim            4702 non-null   float64
 46  inq_fi                      4702 non-null   float64
 47  total_cu_tl                 4702 non-null   float64
 48  inq_last_12m                4702 non-null   float64
 49  acc_open_past_24mths        4702 non-null   float64
 50  avg_cur_bal                 4702 non-null   float64
 51  bc_open_to_buy              4702 non-null   float64
 52  bc_util                     4702 non-null   float64
 53  chargeoff_within_12_mths    4702 non-null   float64
 54  delinq_amnt                 4702 non-null   float64
 55  mo_sin_old_il_acct          4702 non-null   float64
 56  mo_sin_old_rev_tl_op        4702 non-null   float64
 57  mo_sin_rcnt_rev_tl_op       4702 non-null   float64
 58  mo_sin_rcnt_tl              4702 non-null   float64
 59  mort_acc                    4702 non-null   float64
 60  mths_since_recent_bc        4702 non-null   float64
 61  mths_since_recent_inq       4702 non-null   float64
 62  num_accts_ever_120_pd       4702 non-null   float64
 63  num_actv_bc_tl              4702 non-null   float64
 64  num_actv_rev_tl             4702 non-null   float64
 65  num_bc_sats                 4702 non-null   float64
 66  num_bc_tl                   4702 non-null   float64
 67  num_il_tl                   4702 non-null   float64
 68  num_op_rev_tl               4702 non-null   float64
 69  num_rev_accts               4702 non-null   float64
 70  num_rev_tl_bal_gt_0         4702 non-null   float64
 71  num_sats                    4702 non-null   float64
 72  num_tl_120dpd_2m            4702 non-null   float64
 73  num_tl_30dpd                4702 non-null   float64
 74  num_tl_90g_dpd_24m          4702 non-null   float64
 75  num_tl_op_past_12m          4702 non-null   float64
 76  pct_tl_nvr_dlq              4702 non-null   float64
 77  percent_bc_gt_75            4702 non-null   float64
 78  pub_rec_bankruptcies        4702 non-null   float64
 79  tax_liens                   4702 non-null   float64
 80  tot_hi_cred_lim             4702 non-null   float64
 81  total_bal_ex_mort           4702 non-null   float64
 82  total_bc_limit              4702 non-null   float64
 83  total_il_high_credit_limit  4702 non-null   float64
 84  hardship_flag               4702 non-null   object
 85  debt_settlement_flag        4702 non-null   object
dtypes: float64(76), int64(2), object(8)
memory usage: 3.1+ MB

In [8]:
test_df.describe()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4.702000e+03,4702.000000,4702.000000,4702.000000,4702.000000,...,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4702.0,4.702000e+03,4702.000000,4702.000000,4702.000000
mean,40848.125479,40848.125479,16983.889834,0.147490,503.512114,8.677217e+04,22.984243,0.205444,0.701616,12.709911,...,0.049979,2.532539,95.322310,32.394173,0.103360,0.0,1.954170e+05,62753.955764,30585.559336,55616.824543
std,22099.925238,22099.925238,10122.727799,0.057906,293.240156,5.802277e+04,21.162972,0.634326,0.901247,6.046306,...,0.303582,2.048161,7.941194,33.168723,0.309313,0.0,1.905403e+05,55695.287834,27664.330803,49447.248867
min,31.000000,31.000000,1000.000000,0.064600,31.140000,1.000000e+02,0.710000,0.000000,0.000000,2.000000,...,0.000000,0.000000,22.200000,0.000000,0.000000,0.0,3.000000e+03,1554.000000,500.000000,526.000000
25%,22695.500000,22695.500000,9512.500000,0.103300,280.840000,5.200000e+04,14.920000,0.000000,0.000000,8.000000,...,0.000000,1.000000,93.300000,0.000000,0.000000,0.0,6.302775e+04,27884.750000,11900.000000,23372.500000
50%,42024.500000,42024.500000,15000.000000,0.143000,443.960000,7.316650e+04,21.100000,0.000000,0.000000,12.000000,...,0.000000,2.000000,100.000000,25.000000,0.000000,0.0,1.246550e+05,47685.500000,22600.000000,42801.000000
75%,60078.500000,60078.500000,24000.000000,0.186200,684.720000,1.050000e+05,27.980000,0.000000,1.000000,16.000000,...,0.000000,4.000000,100.000000,50.000000,0.000000,0.0,2.766482e+05,80017.750000,40400.000000,73172.500000
max,77340.000000,77340.000000,40000.000000,0.288000,1604.180000,1.092000e+06,999.000000,8.000000,5.000000,53.000000,...,5.000000,14.000000,100.000000,100.000000,2.000000,0.0,2.859851e+06,913475.000000,280400.000000,838661.000000

In [9]:
train_df.describe()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,1.218000e+04,12180.000000,12180.000000,12180.000000,12180.000000,...,12180.000000,12180.000000,12180.000000,12180.000000,12180.00000,12180.0,1.218000e+04,12180.000000,12180.000000,1.218000e+04
mean,187893.694745,187893.694745,17399.579228,0.140899,509.150241,8.989320e+04,22.589516,0.256979,0.566502,12.680296,...,0.063300,2.362890,94.510148,33.054130,0.11601,0.0,1.989801e+05,62404.817980,28038.013136,5.622215e+04
std,99710.342179,99710.342179,10238.160884,0.052679,294.617726,1.684370e+05,23.903223,0.803027,0.814674,6.154663,...,0.425228,1.987853,8.889650,33.889522,0.32960,0.0,1.923892e+05,58987.382738,25331.908015,5.207485e+04
min,24.000000,24.000000,1000.000000,0.060000,30.890000,5.000000e+02,0.100000,0.000000,0.000000,2.000000,...,0.000000,0.000000,22.200000,0.000000,0.00000,0.0,3.300000e+03,1275.000000,200.000000,1.270000e+02
25%,104269.250000,104269.250000,10000.000000,0.103300,286.902500,5.000000e+04,14.500000,0.000000,0.000000,8.000000,...,0.000000,1.000000,92.300000,0.000000,0.00000,0.0,6.260000e+04,26863.500000,10800.000000,2.329875e+04
50%,190128.000000,190128.000000,15000.000000,0.130800,438.530000,7.300000e+04,20.375000,0.000000,0.000000,11.000000,...,0.000000,2.000000,100.000000,25.000000,0.00000,0.0,1.281345e+05,46287.000000,20700.000000,4.264450e+04
75%,274595.750000,274595.750000,25000.000000,0.177400,682.230000,1.035850e+05,27.290000,0.000000,1.000000,16.000000,...,0.000000,3.000000,100.000000,54.500000,0.00000,0.0,2.854070e+05,77730.000000,36900.000000,7.313275e+04
max,355312.000000,355312.000000,40000.000000,0.308400,1671.880000,9.682505e+06,999.000000,15.000000,5.000000,65.000000,...,15.000000,20.000000,100.000000,100.000000,4.00000,0.0,3.137619e+06,917986.000000,284800.000000,1.319104e+06

In [10]:
# Convert categorical data to numeric 
train_origin = pd.get_dummies(train_df)
test_origin = pd.get_dummies(test_df)
print(train_origin.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12180 entries, 0 to 12179
Data columns (total 96 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           12180 non-null  int64
 1   index                                12180 non-null  int64
 2   loan_amnt                            12180 non-null  float64
 3   int_rate                             12180 non-null  float64
 4   installment                          12180 non-null  float64
 5   annual_inc                           12180 non-null  float64
 6   dti                                  12180 non-null  float64
 7   delinq_2yrs                          12180 non-null  float64
 8   inq_last_6mths                       12180 non-null  float64
 9   open_acc                             12180 non-null  float64
 10  pub_rec                              12180 non-null  float64
 11  revol_bal                            12180 non-null  float64
 12  total_acc                            12180 non-null  float64
 13  out_prncp                            12180 non-null  float64
 14  out_prncp_inv                        12180 non-null  float64
 15  total_pymnt                          12180 non-null  float64
 16  total_pymnt_inv                      12180 non-null  float64
 17  total_rec_prncp                      12180 non-null  float64
 18  total_rec_int                        12180 non-null  float64
 19  total_rec_late_fee                   12180 non-null  float64
 20  recoveries                           12180 non-null  float64
 21  collection_recovery_fee              12180 non-null  float64
 22  last_pymnt_amnt                      12180 non-null  float64
 23  collections_12_mths_ex_med           12180 non-null  float64
 24  policy_code                          12180 non-null  float64
 25  acc_now_delinq                       12180 non-null  float64
 26  tot_coll_amt                         12180 non-null  float64
 27  tot_cur_bal                          12180 non-null  float64
 28  open_acc_6m                          12180 non-null  float64
 29  open_act_il                          12180 non-null  float64
 30  open_il_12m                          12180 non-null  float64
 31  open_il_24m                          12180 non-null  float64
 32  mths_since_rcnt_il                   12180 non-null  float64
 33  total_bal_il                         12180 non-null  float64
 34  il_util                              12180 non-null  float64
 35  open_rv_12m                          12180 non-null  float64
 36  open_rv_24m                          12180 non-null  float64
 37  max_bal_bc                           12180 non-null  float64
 38  all_util                             12180 non-null  float64
 39  total_rev_hi_lim                     12180 non-null  float64
 40  inq_fi                               12180 non-null  float64
 41  total_cu_tl                          12180 non-null  float64
 42  inq_last_12m                         12180 non-null  float64
 43  acc_open_past_24mths                 12180 non-null  float64
 44  avg_cur_bal                          12180 non-null  float64
 45  bc_open_to_buy                       12180 non-null  float64
 46  bc_util                              12180 non-null  float64
 47  chargeoff_within_12_mths             12180 non-null  float64
 48  delinq_amnt                          12180 non-null  float64
 49  mo_sin_old_il_acct                   12180 non-null  float64
 50  mo_sin_old_rev_tl_op                 12180 non-null  float64
 51  mo_sin_rcnt_rev_tl_op                12180 non-null  float64
 52  mo_sin_rcnt_tl                       12180 non-null  float64
 53  mort_acc                             12180 non-null  float64
 54  mths_since_recent_bc                 12180 non-null  float64
 55  mths_since_recent_inq                12180 non-null  float64
 56  num_accts_ever_120_pd                12180 non-null  float64
 57  num_actv_bc_tl                       12180 non-null  float64
 58  num_actv_rev_tl                      12180 non-null  float64
 59  num_bc_sats                          12180 non-null  float64
 60  num_bc_tl                            12180 non-null  float64
 61  num_il_tl                            12180 non-null  float64
 62  num_op_rev_tl                        12180 non-null  float64
 63  num_rev_accts                        12180 non-null  float64
 64  num_rev_tl_bal_gt_0                  12180 non-null  float64
 65  num_sats                             12180 non-null  float64
 66  num_tl_120dpd_2m                     12180 non-null  float64
 67  num_tl_30dpd                         12180 non-null  float64
 68  num_tl_90g_dpd_24m                   12180 non-null  float64
 69  num_tl_op_past_12m                   12180 non-null  float64
 70  pct_tl_nvr_dlq                       12180 non-null  float64
 71  percent_bc_gt_75                     12180 non-null  float64
 72  pub_rec_bankruptcies                 12180 non-null  float64
 73  tax_liens                            12180 non-null  float64
 74  tot_hi_cred_lim                      12180 non-null  float64
 75  total_bal_ex_mort                    12180 non-null  float64
 76  total_bc_limit                       12180 non-null  float64
 77  total_il_high_credit_limit           12180 non-null  float64
 78  home_ownership_ANY                   12180 non-null  uint8
 79  home_ownership_MORTGAGE              12180 non-null  uint8
 80  home_ownership_OWN                   12180 non-null  uint8
 81  home_ownership_RENT                  12180 non-null  uint8
 82  verification_status_Not Verified     12180 non-null  uint8
 83  verification_status_Source Verified  12180 non-null  uint8
 84  verification_status_Verified         12180 non-null  uint8
 85  loan_status_high_risk                12180 non-null  uint8
 86  loan_status_low_risk                 12180 non-null  uint8
 87  pymnt_plan_n                         12180 non-null  uint8
 88  initial_list_status_f                12180 non-null  uint8
 89  initial_list_status_w                12180 non-null  uint8
 90  application_type_Individual          12180 non-null  uint8
 91  application_type_Joint App           12180 non-null  uint8
 92  hardship_flag_N                      12180 non-null  uint8
 93  hardship_flag_Y                      12180 non-null  uint8
 94  debt_settlement_flag_N               12180 non-null  uint8
 95  debt_settlement_flag_Y               12180 non-null  uint8
dtypes: float64(76), int64(2), uint8(18)
memory usage: 7.5 MB
None

In [18]:
train_94col = train_origin.drop(["debt_settlement_flag_Y"], axis="columns")

In [20]:
#separate target feature for testing data
#target feature- loan_status_high_risk
X_train = train_94col.drop(["loan_status_high_risk"], axis="columns")
y_train = train_94col["loan_status_high_risk"].values

In [12]:
train_94col = train_origin.drop(["debt_settlement_flag_Y"], axis="columns")

In [14]:
#My intuition is that random forest model might pick up more nuance than logistical regression. Let's find out!

In [21]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

reg_all = LinearRegression()
reg_all.fit(X_train, y_train)
y_pred = reg_all.predict(X_test)
print(f'Training Score: {reg_all.score(X_train, y_train)}')
print(f'Testing Score: {reg_all.score(X_test, y_test)}')

Training Score: 1.0
Testing Score: 0.9999999999999282

In [22]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 1.0
Testing Score: 1.0

In [26]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled =  scaler.transform(X_test)

In [27]:
# Train the Logistic Regression model on the scaled data and print the model score
reg_all = LinearRegression()
reg_all.fit(X_train_scaled, y_train)
y_pred = reg_all.predict(X_test_scaled)
print(f'Training Score: {reg_all.score(X_train_scaled, y_train)}')
print(f'Testing Score: {reg_all.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.9740939456453724

In [28]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 1.0